<div class="login-box">
    <form method="POST" action="/url">
      <div class="user-box fw-semibold">
        <input type="text" name="url"  autocomplete="off" required>
        <label>Enter your url</label>
      </div>
      <div class="user-box fw-semibold">
        <input type="string" name="note"  autocomplete="off" required>
        <label>Note</label>
      </div>
      <button type="submit" class="btn btn-light">
        shrink
      </button>
    </form>
  </div>