<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="../public/link.ico"> -->
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<%- include('./partials/nav.ejs') %>
<body>
  <div class="login-box">
    <form method="POST" action="/url">
      <div class="user-box fw-semibold">
        <input type="text" name="url"  autocomplete="off" required>
        <label>Enter your url</label>
      </div>
      <div class="user-box fw-semibold">
        <input type="string" name="note"  autocomplete="off" required>
        <label>Note</label>
      </div>
      <button type="submit" class="btn btn-light">
        Shrink
      </button>
      <% if (locals.id) { %>
        <div class="pt-5">
        <p class="text-dark">Generated URL: <a style="color:#000000;" href="https://shrinkit-dev.vercel.app/url/<%= id %>">https://shrinkit-dev.vercel.app/url/<%= id %></a></p>
       </div>
        <% } %>
    </form>
  </div>
    
    
</body>
</html>